.form-container {
    width: 300px;
    margin: 0 auto;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container label {
    margin-top: 10px;
    font-size: medium;
    font-weight: 550;
  }
  
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container textarea {
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    
  }
  
  .form-container input[type="submit"] {
    padding: 8px 15px;
    margin-top: 90px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: medium;
  }
  
  .form-container input[type="submit"]:hover {
    background-color: #0056b3;
  }