.video-container {
    position: relative;
    width: 100%;
    height: 100vh; 
  }
  
  #video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .video-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
    color: #ffffff;
  }
  
  .video-text .white-text
  {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165, 162, 134);
    font-size: 3.20em;
    font-weight: 1000;
  }

  .fq {
    color: white !important;
    margin-left: 750px;
    margin-top: 60px;
    font-size: 2em;
    margin-right:250px;
  }

.fitnessq
{ 
  width: 45%;
  margin-bottom: 50px; 
  margin-right:100px;
  margin-left:250px;
  margin-top: 50px;
  height: 5%;  }

  .quotation {
    margin-left:570px;
    margin-top: -330px;
    width:2%;
    height:2%;
  }
  .fithead
  {
    margin-right:250px;
    margin-left: 765px;
    margin-top:-235px;
  }
.siq {
  color: #ffffff;
  font-size: 6em;
}
.authour
{
  color:#ffffff;
  margin-top:25px;
}
.loading
{
  margin-left: 750px;
  margin-top: 60px;
  color:#ffffff;
  margin-right:250px;
}
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #000001;
  color: rgb(4, 0, 0);
  border: none;
  border-radius: 50%; 
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.scroll-to-top:hover {
  background-color: #000000;
}

.button-image {
  width: 24px;
  height: 24px;
}
