.popup-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 20px;
  z-index: 900;
}
.blackout-container{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup-content {
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding-right: 20px;
  max-height: 70vh !important;
  margin-top: 80px;
  margin-right: 120px;
}
