.recommended-music-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }

.spotify-embed {
  border-radius: 12px;
  height : 800px;
  /* background-color: black; */
}
  
  .recommended-music-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .music-button {
    position: relative;
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .music-button:hover {
    transform: scale(1.05);
  }
  
  .button-title {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .music-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: left 0.3s ease;
  }
  
  .music-button:hover::before {
    left: 0;
  }
  