.water-log-container {
    display: grid;
    grid-template-columns: auto 1fr; 
    margin: 0 auto;
    padding-left: 190px;
  }
  .water-log-right {
    grid-column: 2;
  }
  .today-water-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: red;
  }
  .today-water-log-container {
    max-width: auto;
    margin: 0 100px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    grid-column: 1;
    
  }
  .water-container {
    max-width: 600px;
    width: 440px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    grid-column: 1;
  }
  
  .water-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: red;
  }
  .date-water-log {
    width: 200px;
    font-size: 15px;
    text-align: center;
  
  }
  .water-form > div {
    display: flex;
    align-items: center; 
  }
  .water-form div {
    margin-bottom: 15px;
  }
    
  .water-form input[type='date'],
  .water-form input[type='time'],
  .date-input {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .water-form input[type='date']{
    width: 80% !important;
  }
  
  .water-form select{
    width: 50%;
  }
  
  .water-form input,
  .water-form select,
  .water-form button {
    width: 50%;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .handle-fetch-btn {
    height: 38px;
    border: none;
    margin-bottom: 10px !important;
    border-radius: 0 !important;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 22px !important;
  }
  .handle-fetch-btn {
    padding: 8px 10px;
  }
  .water-form input[type='text'] {
    width: 80px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .water-form-quant{
    width: 70px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .water-form-unit {
    width: 60px;
    height: 39px;
    margin-left: 0px;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .water-form-name {
    width: 60px;
    height: 39px;
    margin-left: 0px;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .water-form input[type='text'] {
    
    width:  150px;
  }
  .handle-fetch-btn {
    width: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .water-form button {
    padding: 10px;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .water-form button:hover {
    background-color: #0056b3;
  }
  @media (max-width: 1200px) {
    .water-log-container {
      grid-template-columns: 1fr 3fr;
      padding-left: 50px;
    }
  
    .today-water-log-container,
    .water-container {
      margin: 0 50px;
      padding: 40px;
    }
  }
  
  @media (max-width: 1332px) {
    .water-log-container {
      display: block;
      padding-left: 0;
    }
  
    .today-water-log-container,
    .water-container {
      max-width: 60%;
      margin: 0 auto;
    }
  }
  
  @media (max-width: 805px) {
    .water-log-container {
      padding: 0 20px;
    }
  
    .water-form > div {
      /* flex-direction: column; */
      align-items: flex-start;
    }
  
    .water-form input,
    .water-form select,
    .water-form button {
      width: 100%;
      margin-right: 0;
    }
  
    .water-form-quant,
    .water-form-unit,
    .water-form-name {
      width: 100%;
    }
  }
  