.chart-container-water {
    animation: slideIn 0.5s ease-in-out;
    flex: 1;
    width: 100%;
    max-width: 900px;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
}

.button-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.water-history-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #ff4d4d;
    display: inline-block !important;
    flex: 1;
}

.toggle-button-water {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    height: 50px;
    width: 100px;
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
    left: 0;
}

.toggle-button-water:hover {
    background-color: #8f0000;
}

.water-history-container-1 {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    padding-top: 60px;
}

.water-container-history {
    width: 90%;
    display: flex;
    align-items: center;
    height: calc(100vh - 150px);
    overflow: hidden;
    justify-content: center;
    padding: 20px;
}
.water-container-1 {
    width: 90%;
      display: flex;
      align-items: center;
      height: calc(100vh - 150px);
      overflow: hidden;
      justify-content: center;
      padding: 20px;
      border: 1px solid #ccc;
      margin: 0 auto;
      padding: 20px;
      border-radius: 5px;
      grid-column: 1;
  }