.workout-container-history {
  width: 1500px;
  display: flex;
  align-items: center;
  height: 800px;
}

.workout-history-container-1,
.workout-history-container-2 {
  flex: 1;
  width: 100%;
  max-width: 800px;
  max-height: 700px;
  height: 700px;
  margin-right: 20px; /* Add margin between the containers */
  padding: 20px;
  background-color: #000000;
  color: #fff;
  border-radius: 10px;
  /* border: 1px solid #ccc; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.workout-history-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #ff4d4d;
}

.toggle-button-workout {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  height: 100px;
  width: 100px;
}

.toggle-button-workout:hover {
  background-color: #8f0000;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.chart-container {
  animation: slideIn 0.5s ease-in-out;
  flex: 1;
  width: 100%;
  height: 500px;
}

.chart-container-1 {
  animation: slideIn 0.5s ease-in-out;
  flex: 1;
  width: 100%;
  height: 500px;
  margin-left: 100px;
}
